{% extends "@SyliusShop/layout.html.twig" %}

{% block title %}Artículos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/static/mediumish/css/screen.css')}}">
    <link rel="stylesheet" href="{{ asset('build/static/mediumish/css/main.css')}}">
{% endblock %}

{% block sonata_page_breadcrumb %}
    <div class="row-fluid clearfix">
        {{ sonata_block_render_event('breadcrumb', { 'context': 'news_archive', 'collection': collection, 'tag': tag, 'current_uri': app.request.requestUri }) }}
    </div>
{% endblock %}

{% block body %}
<section class="clean-block">
    <div class="container">
        <div class="block-heading">
            
                <div class="section-title">

                    <h2><span>{{ 'title_archive'|trans({}, 'SonataNewsBundle') }}</span></h2>

                </div>
        </div>

        <div class="row listrecent">

        {% for post in pager.getResults() %}   
                    <!-- begin post -->
            <div class="col-lg-4 col-md-6 mb-30px card-group">
                <div class="card h-100">
                    <div class="maxthumb">
                        <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">
                            {% media post.image, 'big' %}
                        </a>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title">
                            <a class="text-dark" href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                        </h2>
                        <h4 class="card-text">{{ post.abstract }}</h4>
                    </div>
                    <div class="card-footer bg-white">
                        <div class="wrapfooter">
                            
                            <span class="meta-footer-thumb">
                            
                            <img class="author-thumb" src="Home%20|%20Mediumish_files/e56154546cf4be74e393c62d1ae9f9d4.jpeg" alt="Sal">
                            
                            </span>
                            <span class="author-meta">
                            <span class="post-name">
                                <a href="#">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</a>
                                </span>
                                <br>
                            
                            <span class="post-date">{{ post.publicationDateStart | format_date }}</span>
                            </span>
                            <br>
                            <i class="icon-comment"></i>
                            <span class="sonata-blog-post-comments-count">{{ 'comments_count'|trans({'%comments_count%': post.commentsCount }, 'SonataNewsBundle') }}</span>
                            <span class="post-read-more">
                                <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}" title="Read Story">
                                    <svg class="svgIcon-use" width="25" height="25" viewBox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg>
                                </a>
                            </span>
                            <div class="clearfix">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end post -->
        {% endfor %}

        {% if ( pager.getResults() | length ) == 0 %}
            <h4 class="mx-auto">No existen artículos aún</h4>
        {% else %}
            <ul class="pager">
                <li{% if pager.page == pager.firstPage %} class="disabled"{% endif %}><a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>
                <li{% if pager.page == pager.lastPage %} class="disabled"{% endif %}><a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a></li>
            </ul>
        {% endif %}
        </div>
    </div>
</section>


        
{# <h1>{{ 'title_archive'|trans({}, 'SonataNewsBundle') }}</h1>

<div class="sonata-blog-post-list">
    {% for post in pager.getResults() %}
        <div class="sonata-blog-post-container">
            <header>
                <h2 class="sonata-blog-post-title">
                    <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                </h2>

                <div class="sonata-blog-post-information">
                    <span class="sonata-blog-post-author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</span> |

                    <i class="icon-calendar"></i>
                    {{ post.publicationDateStart | format_date }} |

                    <i class="icon-comment"></i>
                    <span class="sonata-blog-post-comments-count">{{ 'comments_count'|trans({'%comments_count%': post.commentsCount }, 'SonataNewsBundle') }}</span>

                    <div class="sonata-blog-post-tags">
                        {% if post.tags|length > 1 %}
                            <i class="icon-tags"></i>
                        {% else %}
                            <i class="icon-tag"></i>
                        {% endif %}
                        {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}

                        {% for tag in post.tags %}
                            <a href="{{ url('sonata_news_tag', { 'tag': tag.slug } ) }}">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </header>

            <div class="sonata-blog-post-abtract">
                {{ post.abstract }}
            </div>
        </div>

        <hr />
    {% else %}
        {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
    {% endfor %}

    <ul class="pager">
        <li{% if pager.page == pager.firstPage %} class="disabled"{% endif %}><a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}" title="{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_previous_page'|trans({}, 'SonataNewsBundle') }}</a>
        <li{% if pager.page == pager.lastPage %} class="disabled"{% endif %}><a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}" title="{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}">{{ 'link_next_page'|trans({}, 'SonataNewsBundle') }}</a></li>
    </ul>
</div> #}

{% endblock %}