{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}
{% if app.user is null %}
    Debe estar autenticado para comentar
{% else %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{'title_leave_comment'|trans({}, 'SonataNewsBundle') }}</h3>
    </div>
    <div class="panel-body">
        {{ form_start(form, { attr: { class: 'form-horizontal', role: 'form' } }) }}
                {% include '@SyliusShop/Common/user_box.html.twig' with {
                    'user' : app.user.customer,
                    'avatar' : 'avatar'
                } %}
            <div class="form-group">
                {{ form_label(form.message) }}
            </div>
            <div class="form-group">
                {{ form_widget( form.message )}}
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-secondary"><i class="glyphicon glyphicon-pencil"></i>&nbsp;{{'btn_add_comment'|trans({}, 'SonataNewsBundle') }}</button>
            </div>
            <div class="d-none">
                {{ form_rest( form ) }}
            </div>
            <script>
                $('#{{ form.name.vars.id }}').val( '{{ app.user.customer.firstName ~ " " ~ app.user.customer.lastName }} ');
                $('#{{ form.email.vars.id }}').val( '{{ app.user.customer.email }} ');
            </script>
        {{ form_end(form) }}
    </div>
</div>
{% endif %}
