
{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% if last_error %}
    {{ messages.error(last_error.messageKey|trans(last_error.messageData, 'security')) }}
{% endif %}
<div class="form-group">
    {{ form_label(form._username) }}
    {{ form_widget(form._username, {'attr': {'class': 'form-control item', 'type': 'email'}} ) }}
</div>
<div class="form-group">
    {{ form_label(form._password) }}
    {{ form_widget(form._password, {'attr': {'class': 'form-control item', 'type': 'password'}} ) }}
</div>

{{ form_row(form._remember_me, {'attr': {'class': 'form-check-input'}}) }}

<script>
    $('#{{ form._remember_me.vars.id }}').parent().addClass('form-check');
</script>
