<div class="ui two column stackable grid">
    {{ form_errors(form) }}
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.general_info'|trans }}</h4>
            <div class="two fields">
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
            </div>
        </div>
        <div class="ui segment">
            {{ form_row(form.plainPassword) }}
            {{ form_row(form.enabled) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.additional_information'|trans }}</h4>
            <div class="two fields">
                {{ form_row(form.firstName) }}
                {{ form_row(form.lastName) }}
            </div>
        </div>
        <div class="ui segment">
            <h4 class="ui dividing header">{{ 'sylius.ui.preferences'|trans }}</h4>
            {{ form_row(form.localeCode) }}
        </div>
    </div>
    <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ form_label ( form.logo ) }}</h4>
            
            {{ form_widget(form.logo) }}
            <div id="change_logo" class="change_logo text-right pr-2 pt-2">
                <i id="change_logo_button" onclick="openFileDialog();" class="
                {% if admin_user.logo == null %}
                    {{ "pe-7s-plus" }}
                {% else %}
                    {{ "pe-7s-edit" }}
                {% endif %}
                pe-2x"></i>

            </div>

        </div>
    </div>
     <div class="column">
        <div class="ui segment">
            <h4 class="ui dividing header">{{ form_label ( form.title ) }}</h4>
            {{ form_widget(form.title) }}
        </div>
    </div>
</div>

<script>

    function caught()
    {
        if ( $('#{{ form.logo.vars.id }}').val() != "" )
        {
            document.getElementById("change_logo").style = "";
            $('#change_logo_button').className = "pe-7s-edit";
        }
        else
        {
            document.getElementById("change_logo").style = "background-image: url(" + logo + "); background-repeat: no-repeat; background-position: center; background-size: contain; vertical-align: middle;";
            $('#change_logo_button').className = "pe-7s-plus";
        }
    }

    function openFileDialog()
    {
        $('#{{ form.logo.vars.id }}').click();

        $('#{{ form.logo.vars.id }}').on('change', caught );

    }

    {% if admin_user.logo == null %}


    {% else %}
        var logo = "{{ app.request.getSchemeAndHttpHost() ~ app.request.getBaseURL()|trim('index.php') ~ '/uploads/media/admins/' ~ admin_user.id ~ '/' ~ admin_user.logo.filename }}";
        document.getElementById("change_logo").style = "background-image: url(" + logo + "); background-repeat: no-repeat; background-position: center; background-size: contain; vertical-align: middle;";

    {% endif %}

    $("#{{ form.logo.vars.id }}").fileinput({
        'showUpload': false,
        'showBrowse': false,
        'showRemove': false,
        'showClose': false,
        'showCaption': false,
        'showZoom': false,
        'showCancel': false,
        'showProgress': false,
        'captionClass': 'd-none',
        'zoomClass': 'd-none',
        'frameClass': 'profile-image card_logo_profile',
        'progressClass': 'file-progress-hide',
        'progressCompleteClass': 'd-none',
        'progressThumbClass': 'd-none',
        'allowedFileExtensions': ["png","jpg","jpeg"]
    });
</script>
