<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        {% block title %}Home {% endblock %} - CREART3D
    </title>
    <meta name="description" content="... Mirando un mundo en 3D desde un archipiélago en el Mar Caribe ...">

    <link rel="stylesheet" href="{{ asset('build/static/bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">

    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/fonts/simple-line-icons.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css"> 
    <link rel="stylesheet" href="{{ asset('bundles/syliusshop/css/styles.css') }} ">

    <link rel="stylesheet" href="{{ asset('build/static/reveal/css/revealer.css')}}">
    {% block stylesheets %}
    {% endblock %}

    <script src="{{ asset('build/jquery_related.js') }}"></script>
    <script src="{{ asset('build/top_theme.js') }}"></script>
    <script src="{{ asset('build/static/reveal/js/anime.js') }}"></script>
    <script src="{{ asset('build/static/reveal/js/main.js') }}"></script>
</head>

<body>

    {% include '@SyliusShop/Common/nav_menu.html.twig' %}
    <main class="page">
        <div class="mt-5">
        {% block body %}

        {% endblock %}
        </div>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>¿Cómo empezar?</h5>
                    <ul>
                        <li><a href="{{ path('sylius_shop_homepage')}}">Inicio</a></li>
                        <li><a href="{{ path('sylius_shop_login')}}">Loguearse</a></li>
                        {# <li><a href="#">Descargas</a></li> #}
                    </ul>
                </div>
                {# <div class="col-sm-3">
                    <h5>Sobre nosotros</h5>
                    <ul>
                        <li><a href="#">Información de la comunidad</a></li>
                        <li><a href="#">Contáctenos</a></li>
                        <li><a href="#">Reseñas</a></li>
                    </ul>
                </div> #}
                <div class="col-sm-3">
                    <h5>Soporte</h5>
                    <ul>
                        {# <li><a href="#">Preguntas más frecuentes</a></li> #}
                        <li><a href="{{ path( 'sylius_shop_support_channels' )}}">Canales de soporte</a></li>
                        {# <li><a href="#">Redes sociales</a></li> #}
                    </ul>
                </div>
                {# <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Términos de servicio</a></li>
                        <li><a href="#">Términos de uso</a></li>
                        <li><a href="#">Política de privacidad</a></li>
                    </ul>
                </div> #}
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2019 :: 3DCU Todos los derechos reservados</p>
        </div>
    </footer>

    <script src="{{ asset('build/bottom_theme.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="{{ asset('bundles/syliusshop/js/theme.js') }}"></script>

</body>

</html>