{% extends '@SyliusUi/Layout/sidebar.html.twig' %}

{% block title %}Admin{% endblock %}

{% block stylesheets %}
    {% include '@SyliusUi/_stylesheets.html.twig' with {'path': 'assets/admin/css/style.css'} %}
    <link rel="stylesheet" href="{{ asset('build/static/fileinput/css/fileinput.min.css')}}">
    <link rel="stylesheet" href="{{ asset('build/static/admin/css/styles.css')}}">
    {{ sonata_block_render_event('sylius.admin.layout.stylesheets') }}
    {# {% include '@SyliusUi/_javascripts.html.twig' with {'path': 'assets/admin/js/app.js'} %} #}
    <script src="{{ asset('build/static/fileinput/js/fileinput.min.js') }}" ></script>

    <link rel="stylesheet" href="{{ asset('build/static/pe-7s/css/pe-icon-7-stroke.css')}}">
    <link rel="stylesheet" href="{{ asset('build/static/pe-7s/css/helper.css')}}">
{% endblock %}

{% block flash_messages %}
    {% include '@SyliusAdmin/_flashes.html.twig' %}
{% endblock %}

{% block topbar %}
    <a class="icon item" id="sidebar-toggle" title="{{ 'sylius.ui.toggle_sidebar'|trans }}">
        <i class="sidebar icon"></i>
    </a>

    {{ sonata_block_render_event('sylius.admin.layout.topbar_left') }}

    {{ render(url('sylius_admin_partial_channel_index', {'template': '@SyliusAdmin/_channelLinks.html.twig'})) }}
    {% include '@SyliusAdmin/_search.html.twig' %}

    <div class="ui left floated dividing empty item"></div>

    {{ sonata_block_render_event('sylius.admin.layout.topbar_middle') }}

    <div class="ui right floated dividing empty item">
        {# <div class="user_logo d-block mx-auto" style="background-size: cover; background-image: url('{{ app.request.getSchemeAndHttpHost() ~ app.request.getBaseURL()|trim('index.php') ~ '/uploads/media/admins/' ~ app.user.id ~ '/' ~ app.user.logo.filename }}')"></div> #}
    </div>

    {{ sylius_render_notifications_widget() }}
    {% include '@SyliusAdmin/_security.html.twig' %}

    {{ sonata_block_render_event('sylius.admin.layout.topbar_right') }}
{% endblock %}

{% block sidebar %}
    {{ sonata_block_render_event('sylius.admin.layout.sidebar_top') }}

    <a class="item" href="{{ path('sylius_admin_dashboard') }}"><b>CREART3D</b></a>
    {{ knp_menu_render('sylius.admin.main', {'template': '@SyliusUi/Menu/sidebar.html.twig', 'currentClass': 'active'}) }}

    {{ sonata_block_render_event('sylius.admin.layout.sidebar_down') }}
{% endblock %}

{% block footer %}
    {{ 'sylius.ui.powered_by'|trans }} <a href="http://sylius.com" target="_blank">3DCU v0.1</a>
{% endblock %}

{% block javascripts %}
    {{ sonata_block_render_event('sylius.admin.layout.javascripts') }}
{% endblock %}
